extends layout
 
block body
  h1.tableText Admin Tasks
    table.fixed.tableProps(align="center")
      thead
        tr
          th.tableText Task
          th.tableText Perform
          th.tableText Status
      tbody
        tr
          td.tableText Create Runners Table
          td.tableText
            a.btn.btn-default(href="/" id="createRunners") Create
          td.tableText
            p(id="createRunnersStatus") Incomplete
         tr
          td.tableText Create Tags Table
          td.tableText
            a.btn.btn-default(href="/" id="createTags") Create
          td.tableText
            p(id="createTagsStatus") Incomplete
        tr
          td.tableText Delete Runners Table
          td.tableText
            a.btn.btn-default(href="/" id="deleteRunners") Delete
          td.tableText
            p(id="deleteRunnersStatus") Incomplete
         tr
          td.tableText Delete Tags Table
          td.tableText
            a.btn.btn-default(href="/" id="deleteTags") Delete
          td.tableText
            p(id="deleteTagsStatus") Incomplete
        
        tr
          td.tableText Create Fake Tags
          td.tableText
            a.btn.btn-default(href="/" id="createFake") Reset
          td.tableText
            p(id="createFakeStatus") Incomplete
  script.
    function clearAllData() {

    }
    function clearAllTags() {

    }
    function clearAllRunners() {
      
    }