extends layout
 
block body
 
  .dashboard
    .row
      .col-lg-12
        .jumbotron
          h1 Check-in Recorded
          br
          br
          h2 You just Scanned a runner:
          h3 Name: #{student.name}
          h3 Race Number: #{student.racenumber}
          h3 Check-in Time: #{time}
      
          br
          br