extends layout
 
block body
 
  #welcome.jumbotron
    h2 Welcome to The Confey College Race Control Centre
    p.lead.
      <br/>
      <br/>
      Welcome to this race managment app. Here you can:
    ul
      li Add Students in bulk to the runners list
      li Generate Race tabarads with QR Codes for easy Race start Finish tagging
      li View, manage and print results lists. 
    <br/>
    <br/>
    h2 What is required to use this app
    br
    ul
      li A login from Mrs. Matthews
      li A QR scanning app, The following is recommended
        ul
          li
            a(href="https://itunes.apple.com/ie/app/qr-scanner-free-code-reader/id948297363?mt=8") Apple
          li
            a(href="https://play.google.com/store/apps/details?id=com.kaspersky.qrscanner&hl=en") Android

