extends layout
 
block body
 
  .dashboard
    .row
      .col-lg-12
        .jumbotron
          h1 Runner Scanned
          br
          br
          p You just Scanned a runner
          p.
            The Runners race number was: #{racenumber}
      
          br
          br