extends layout
style.
  .fade.in {
    display:block;
  }
  .fade {
    display:none;
  }
block body
  script.
    function deleteRunners() {
      console.log('Working')
      var xobj = new XMLHttpRequest()
      // true parameter denotes asynchronous
      spinnerShow()
      xobj.open('DELETE', '/runners/allrunners', true)
      xobj.onreadystatechange = function() {
        if (xobj.readyState == 4 && xobj.status == '200') {
          // This marks that the response has been successfully retrieved from the server
          // Utilize callback
          console.log(xobj.responseText)
          window.location = '/runners'
          //callback()
        }
      }
      xobj.send(null)
    }

  h2 Runner Lists
  div
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#home') Runners
      li.nav-item
        a.nav-link(data-toggle='tab', href='#import') Import
      li.nav-item
        a.nav-link(data-toggle='tab', href='#manage') Manage

    #myTabContent.tab-content
      #home.tab-pane.fade.active.in
        p
          | This section is the list of people available for taking part in races
        div.accordion
          each group, index in classes
            div.accordion-section
              a.accordion-section-title(href="#accordion-runners-#{index}") Class: #{group.name}
                div.accordion-section-content(id="accordion-runners-#{index}")
                  table.fixed.tableProps(align="center")
                    thead
                      tr
                        th.tableText Student Name
                    tbody
                      each runner in group.runners
                        tr
                          td.tableText=runner.name
      #import.tab-pane.fade
        p
          | Here you can paste the CSV of runners you want to add to the list. the CSV must be 2 columns with headings, "name" and "class" both in lower case. Student names must be unique
        form(role='form', id="importForm", action="/runners/import",method="post")
          .row
            textarea(name="studentData", rows="20", cols="100")
          br
          .row
            button.btn.btn-default(type='submit') Process 
      #manage.tab-pane.fade
        button.btn.btn-default(onclick='deleteRunners()') Delete All Runners 
        
