extends layout
 
block body
  h1.tableText Scan Codes
  div(id="output" hidden)
    div(id="outputMessage") No QR code detected.
    div( hidden)
    h3 Scan: 
      span(id="outputData")

  div(id="loadingMessage") 🎥 Unable to access video stream (please make sure you have a webcam enabled)
  canvas(style="width: 100%; min-height:100px; max-height:50%", id="canvas")
  

  script(src='/js/scanPageScript.js')  
