extends layout
 
block body
  .dashboard
    .h2 Paste The Student CSV Below
    form(role='form', id="importForm", action="/import",method="post")
      .row
        textarea(name="studentData", rows="20", cols="100")
      br
      .row
        button.btn.btn-default(type='submit') Process 