extends layout
 
block body
  h1.tableText Class Lists
  each classGroup in classes
    h3.tableText Class Group: #{classGroup.name}
    table.fixed.tableProps(align="center")
      thead
        tr
          th.tableText Student Name
          th.tableText Race Number
      tbody
        each student in classGroup.students
          tr
            td.tableText=student.name
            td.tableText=student.racenumber